body {
    /* font css link  */
    font-family: 'Poppins',
        sans-serif;
}

/* shared style  */
.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}


/* ******header styles******  */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}


/* nav part  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
    font-size: 1rem
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner part  */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img {
    width: 100%;
    margin-top: 35px;
}



/* ****** Main Part ****** */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team section */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-content-title {
    font-size: 2.5rem;
    /* font-weight: 500; */
}


.of-out {
    color: #131313;
    font-weight: 500;
}

.text_features {
    color: #FF900E;
    font-weight: 700;
}

/* Facts Section */
.facts-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}


/* responsive media queries  */
/* mobile  */
@media screen and (max-width : 576px) {

    /* header part  */
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        margin-bottom: 40px;
    }

    /* team  */
    .teams-container {
        flex-direction: column;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    /* Facts Section */

    .facts-card-container {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }

    .facts-container {
        text-align: center;
    }
}

/* tab  */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }

    /* Facts Section */
    .facts-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .facts-container {
        text-align: center;
    }
}